<!DOCTYPE html>
<html>
  <head>
    <title>Flask app</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <div class="container">
        <h1 class="logo">CornerText</h1>
        <strong><nav>
        </nav></strong>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
    </div>
  </body><pre>                                            a s d f l k h j a s f k j l a k l j h 1 2 3 9 4 6 1 9 3 4 l k h s d s f l k h j a
                                          / s                                                                             / s
                                        /   d                                                                           /   d
                                      /     f                                                                         /     f
                                    /       l                                                                       /       l
                                  /         k                                                                     /         k
                                /           h                                                                   /           h
                              /             j                                                                 /             j
                            /               a                                                               /               a
                          /                 s                                                             /                 s
                        /                   f                                                           /                   f
                      /                     k                                                         /                     k
                    /                       j                                                       /                       j
                  /                         l                                                     /                         l
                /                           a                                                   /                           a
              /                             k                                                 /                             k
            /                               l                                               /                               l
          /                                 j                                             /                                 j
        /                                   h                                           /                                   h
      /                                     1                                         /                                     1
    a s d f l k h j a s f k j l a k l j h 1 2 3 9 4 6 1 9 3 4 l k h s d s f l k h j a                                       2
    s                                       3                                       s                                       3
    d                                       9                                       d                                       9
    f                                       4                                       f                                       4
    l                                       6                                       l                                       6
    k                                       1                                       k                                       1
    h                                       9                                       h                                       9
    j                                       3                                       j                                       3
    a                                       4                                       a                                       4
    s                                       l                                       s                                       l
    f                                       k                                       f                                       k
    k                                       h                                       k                                       h
    j                                       s                                       j                                       s
    l                                       d                                       l                                       d
    a                                       s                                       a                                       s
    k                                       f                                       k                                       f
    l                                       l                                       l                                       l
    j                                       k                                       j                                       k
    h                                       h                                       h                                       h
    1                                       j                                       1                                       j
    2                                       a s d f l k h j a s f k j l a k l j h 1 2 3 9 4 6 1 9 3 4 l k h s d s f l k h j a
    3                                     /                                         3                                     /  
    9                                   /                                           9                                   /    
    4                                 /                                             4                                 /      
    6                               /                                               6                               /        
    1                             /                                                 1                             /          
    9                           /                                                   9                           /            
    3                         /                                                     3                         /              
    4                       /                                                       4                       /                
    l                     /                                                         l                     /                  
    k                   /                                                           k                   /                    
    h                 /                                                             h                 /                      
    s               /                                                               s               /                        
    d             /                                                                 d             /                          
    s           /                                                                   s           /                            
    f         /                                                                     f         /                              
    l       /                                                                       l       /                                
    k     /                                                                         k     /                                  
    h   /                                                                           h   /                                    
    j /                                                                             j /                                      
    a s d f l k h j a s f k j l a k l j h 1 2 3 9 4 6 1 9 3 4 l k h s d s f l k h j a                                        
                                                                                                                             
                                                                                                                             
                                                                                                                             
                                                                                                                             
<div id="window-resizer-tooltip"><a href="#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth"></span> x <span class="tooltipHeight" id="winHeight"></span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth"></span> x <span class="tooltipHeight" id="vpHeight"></span></div></pre</html>